<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{frag::head}">
</head>
<link rel="stylesheet" th:href="@{/styles/details.css?version=51}">


    
    
<body>

    <div th:replace="~{frag::nav}"></div>
  
   <div class="form" th:object="${car}">
        <div class="image"> <img th:src="@{/images/{img}(img=${car.image})}" alt=""></div>
        <div class="info">
            <h2 th:text="${car.brand}">  </h2>

            <h2 th:text="${car.model}"></h2>

           <h3 > description:</h3>
           <P th:text="${car.description}">   </P>


           <h3  th:text="${car.prize}">prize/day</h3>
           <div class="btn">
         <a th:href="@{/rental/addrental/{id}(id=${car.id})}">  <button> book now</button></a>
           </div>
        </div>
     
    </div>
     <script src="/js/home.js"></script>
</body>
</html>